.wrapper-complaint {
  color: #224957;
  background: url(/assest/icons/feedback.svg) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper-complaints {
  margin-left: 90px;
}
