@import '../../theme/variable';

.wrapper-enquiry {
  background-image: url(/assest/icons/person.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
