@import './variable';

.form-container {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  min-width: 440px;
  border: 1px solid $primary;
  min-height: 150px;
}

.card-container {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  max-width: 900px;
  border: 1px solid $primary;
  min-height: 150px;
}

.selected-card-container {
  background: $primary;
  border-radius: 40px;
  max-width: 900px;
  border: 1px solid $white;
  color: $white;
  min-height: 150px;
}
